#brand {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: white;
}

body {
    padding-top: 60px;
}

.section {
    height: 100vh;
    margin-bottom: 0px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.pagination-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.roboto {
    font-family: 'Roboto', serif;
}

.fontsize20 {
    font-size: 2rem;
}

.fontsize30 {
    font-size: 3rem;
}

#education.outer {
    background-image: url('../res/img/ut1.png');
    background-size: cover;
    background-position: top;
    display: block;
    position: relative;
    height: auto;
}

#education .title {
    font-family: 'Graduate' !important;
    padding: 0 50px;
}

#education .title span.circle {
    background-color: #069;
}

#education .title span.university {
    font-family: 'Satisfy', cursive !important;
}

#education h1 {
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#education .line-two {
    font-size: 55px;
}

#education .inner {
    position: relative;
    height: auto;
    background-position: center;
    /*transform: translateY(-%);*/
    margin: auto auto;
    /*padding: 100px 15px;*/
    padding: 400px;
    text-align: center;
    color: #f5f5f5;
}

#education.h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

span.circle {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    width: 1.5em;
    background-color: #0c6;
}

section .light {
    color: #f5f5f5;
}
